<div class="pipelines">
  <%= for pipeline <- @pipelines do %>
  <div class="pipeline <%= if (pipeline.success), do: "success", else: "failure" %>">
    <h1><%= pipeline.repo %></h1>
    <h2><%= pipeline.time_since %></h2>
    <h3><%= pipeline.branch %></h3>
  </div>
  <% end %>
</div>